* {
    /*overflow: hidden;*/
    /*height: 100%;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin:0;
    background: linear-gradient(black, grey, lightgrey, white, lightgrey, grey, black);
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% auto 20%;
    grid-template-areas:    "top top top"
                            ". main ."
                            "footer footer footer"
}

.top{
    grid-area: top;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "logo menu .";
    align-content: center;
    background-color: #091255;
}

.logo{
    grid-area: logo;
    color: white;
}

.menu {
    grid-area: menu;
    text-align: right;
    align-content: center;
    font-size: 1.2rem;
}

.menu a{
    display: inline;
    vertical-align: middle;
    padding: 0 15px;
}

/*aside {
    display: grid;
    grid-area: aside;
    justify-content: center;
}*/
.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "contact-data map"
                         "form form"
}

.contact-data {
    grid-area: contact_data;
}

.map{
    grid-area: map;
    padding: 10%;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

h2 {
    justify-content: center;
}

section {
    display: grid;
}

.footer {
    grid-area: footer;
    justify-content: center;
    align-content: center;
    background-color: #505050;
}

a {
    text-decoration: none;
    color: white;
}

p {
    text-align: center;
}

/*Estilos del formulario*/
/*p.contact{
    text-align: left;
}*/

form{
    grid-area: form;
    border-radius: 20px;
    border: 3px solid grey;
    margin: 0 10%;
}

.form-top{
    border-radius: 15px 15px 0px 0px;
    border: 3 solid grey;
    width:100%;
    background-color: grey;
    color:white;
    padding: 10px;
    margin:0px;
}

.form-top>h2{
    margin:5px;
}

.form-body{
    padding: 25px;
    margin: 0 20%;
}

input, textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 2px;
    border: 3px solid grey;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

label{
    /*color:#505050;*/
}

input:focus, textarea:focus, select:focus{
    border: 3px solid blue;
}

.button{
    width: 30%;
    font-size: 100%;
    font-weight: bold;
    color:#505050;
}

.button:hover{
    width: 30%;
    background-color: blue;
    border: 3px solid blue;
    color: white;
}

.form-buttons{
    text-align: center;
}

#required{
    font-size: 75%;
    font-weight: normal;
    font-style: italic;
}