* {
    overflow: hidden;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: beige;
    display: grid;
    grid-gap: 0%;
    grid-template-columns: 16% 65% 16%;
    grid-template-rows: 15% 70% 12%;
    grid-template-areas: "header header header"
                         " .    section    . "
                         "footer footer footer"
}

.logo {display: flex; flex-direction: column; flex-wrap: wrap;}

.social {display: flex; flex-direction: column; flex-wrap: wrap;}

.content {display: grid; grid-area: section; margin: 0%; padding: 0%;
    background-image: url(imagenes/barriles-bodega.jpg); justify-items: center;}

.pie {display: flex; grid-area: footer;
    background: grey; justify-content: space-evenly; flex-direction: row; flex-wrap: wrap; align-content: center;}

#codo, #gracias, #copyright {color: #000000; height: 30%;}

#historia{color: beige; width: 80%; text-align: center;}

h1 {display: grid; align-content: center; margin: 0%; padding: 0%; color: beige;}

p {display: grid; margin: 0%; padding: 0%;}

header {display: flex; grid-area: header; justify-content: space-evenly; flex-direction: row;
    background: grey;}

nav ul {display: inline-block; margin: 0%;}
nav ul li {display: inline-block;}
nav a {display:flex; align-items: center; color: beige; flex-wrap: wrap;}


@media screen and (max-width: 768px){
        body{
            grid-template-areas: "header header header"
                                 " . section ."
                                 "footer footer footer"} }
    
@media screen and (max-width: 450px){
        body{
            grid-template-areas: "header header header"
                                 " . section ."
                                 "footer footer footer"} }